.activate-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .success-message, .error-message {
    font-size: 18px;
    margin-top: 20px;
  }
  